<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="addofficer">
  <table border="1">
    <tr>
      <th width="71" scope="col">first name </th>
      <th width="68" scope="col">last name </th>
      <th width="35" scope="col">place</th>
      <th width="28" scope="col">post</th>
      <th width="20" scope="col">pin</th>
      <th width="36" scope="col">email</th>
      <th width="40" scope="col">phone</th>
      <th width="41" rowspan="2" scope="col"><p><a href="#">edit</a></p>        <p><a href="#">delete</a></p></th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="8"><div align="center">
        <input type="submit" name="Submit" value="add" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
