<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="361" border="1">
    <tr>
      <th width="75" scope="col">user</th>
      <th width="124" scope="col">scheme</th>
      <th width="73" scope="col">amount</th>
      <th width="61" rowspan="2" scope="col"><p>&nbsp;</p>
        <p><a href="#">accept</a></p>
      <p><a href="#">reject</a></p></th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
